body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

table,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: large;
  text-align: center;
  background-color: #fff;
}
table,
tr,
th {
  border-collapse: collapse;
  height: 100%;
  width: 40vw;
}
